
.company {
  box-sizing: border-box;
  color: #949494;
  white-space: nowrap;
  font-size: 90%;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.wrapper_company {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 5rem;
  padding-left: 15rem;
}

.logoCompany {
  display: flex;
  align-items: center;
}

.logoCompany img {
  width: 80px;
  height: auto;
  border-radius: 8px;
  vertical-align: middle;
  border: 0;
  cursor: pointer;
  margin-right: 30px;
  animation: roll 3s infinite;
  transform: rotate(30deg);
  opacity: 0.7;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.textCompany span:first-child {
  color: #949494;
  font-size: 14px;
}
.textCompany span {
  display: block;
  line-height: 2;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
}

/* .bct img {
  width: 130px;
  float: right;
  vertical-align: middle;
  cursor: pointer;
} */