.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: grey;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar_logo{
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 5px;
}

.navbar_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 20px;
}

.navbar_searchInput {
  height: 15px;
  padding: 10px;
  border: none;
  width: 100%;
}

.navbar_searchIcon {
  background-color: #cd9042;
  padding: 10px;
  height: 15px;
}

.navbar_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.navbar_nav {
  display: flex;
  justify-content: space-evenly;
}

.navbar_optionLineOne {
  font-size: 10px;
}

.navbar_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
  margin-top: 3px;
}

.navbar_optionBasket{
  display: flex;
  align-items: center;
  color: white;
}

.navbar_optionLineTwo_Basket_count {
  margin-right: 10px;
  margin-left: 10px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav li {
  margin: 0;
  margin-left: 2rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover,
.nav a:active {
  color: #f3cafb;
}

.nav button {
  font: inherit;
  background: none;
  border: none;
  padding: 0.5rem 1.5rem;
  color: white;
  cursor: pointer;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26); */
  border-radius: 20px;
}

.nav button:focus {
  outline: none;
}

.nav button:hover,
.nav button:active {
  /* color: #f3cafb; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}
