img {
  width: 20rem;
  height: 20rem;
}

.display_flex {
  min-height: 30rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.display_flex p {
  width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
}
.blank {
  height: 30rem;
}
h2 {
  color: #fbd95d;
  margin-top: 5rem;
  text-shadow: 1px 1px 1px #f5ecc9;
}
