.pagenation_contatiner {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10rem;
}

.page_num {
  text-align: center;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 5px;
  /* width: 1.4rem; */
}
.page_num:hover {
  cursor: pointer;
  background-color: #ddd;
}

.now_page {
  text-align: center;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #fbe194;
}

/* .page_num:active {
  background-color: #4CAF50;
  color: white;
} */

.page_num > p {
  margin: 0;
}
