.container {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category_box {
  width: 50rem;
  border: 1px solid black;
}

.category_name {
  width: 20%;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;

  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.row_justify_between {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
}
