.icon_box {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  background: #f3cd58;
  color: white;
  cursor: pointer;
}

.icon_box:hover {
  box-shadow: 1px 1px 5px gray;
  animation-duration: 1.5s;
  animation-name: flash;
}
@keyframes flash {
  90% {
    background: #f3cd58;
  }
  95% {
    background-color: white;
  }
  100% {
    box-shadow: 1px 1px 10px white;
  }
}

.icon_box:hover > * {
  animation: blink 0.3s step-start 0s 3;
  -webkit-animation: blink 0.3s step-start 0s 3;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
