.three_body {
  display: flex;
  height: 95vh;
}

.controls {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  flex-direction: column;
}
.perspectiveControls {
  top: 10px;
  right: 10px;
}

.sizeControls {
  bottom: 10px;
  display: flex;
  justify-content: center;
}
.LeftItems {
  background-color: rosybrown;
  width: 30%;

}
.RightItems {
  background-color: grey;
  width: 70%;

}

.help {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  margin-top: 10px;
}